.CounterValue {
    display: flex;
    border: 3px solid deepskyblue;
    margin: 15px;
    height: 125px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: deepskyblue
}

.textCounterValue {
    display: flex;
    border: 3px solid deepskyblue;
    margin: 15px;
    height: 125px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: deepskyblue
}

.CounterRedValue {
    display: flex;
    border: 3px solid deepskyblue;
    margin: 15px;
    height: 125px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #c70f0f
}

.CounterTextError {
    display: flex;
    border: 3px solid deepskyblue;
    margin: 15px;
    height: 125px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #c70f0f
}

.incResetBox {
    display: flex;
    border: 3px solid deepskyblue;
    border-radius: 8px;
    margin: 15px;
    padding: 10px;
    justify-content: space-around;
}

.incResetValue {
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    font-size: 40px;
    cursor: pointer;
    background-color: deepskyblue;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

button:disabled {
    opacity: 0.17;
    color: black
}

button:active {
    background-color: #282c34;
    color: deepskyblue;
}