.CounterValue {
    display: flex;
    border: 3px solid deepskyblue;
    margin: 15px;
    height: 125px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: deepskyblue
}

.CounterRedValue {
    display: flex;
    border: 3px solid deepskyblue;
    margin: 15px;
    height: 125px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #c70f0f
}

.incResetBox {
    display: flex;
    border: 3px solid deepskyblue;
    border-radius: 8px;
    margin: 15px;
    padding: 10px;
    justify-content: space-around;
}

.incValue {
    font-size: 40px;
    cursor: pointer;
    background-color: deepskyblue;
    font-weight: bold;
    border-radius: 10px;
}

.resetValue {
    font-size: 40px;
    cursor: pointer;
    background-color: deepskyblue;
    font-weight: bold;
    border-radius: 10px;
}

.incResetValue {
    margin-left: 10px;
    margin-right: 10px;
}

:disabled {
    background-color: rgba(17, 165, 255, 0.4);
    color: black
}

button:active {
    background-color: #282c34;
    color: deepskyblue;
}